/*
Project Name: Relaxr - Blog (GA Assignment 3)
Client: Relaxr
Author: Dan Johnson
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: " ";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 16px;
     line-height: 1.4;
     font-family: "Open Sans", Helvetica, Arial, sans-serif;
     background-color:#f0efef;
     margin:0px;
}

/* HEADER & NAV */

header {
  background-color: #033048;
  color: white;
  width:100%;
  min-width:300px;
  height: auto;
}

.header {
  width:75%;
  text-align:center;
  margin:auto;
}

#head-home {
  margin-left:40px;
}

nav a {
  margin:20px 50px 0px 0px;
  font-size:1.2rem;
  font-weight:600;
  color: #f9e42e;
  
}

.nav li {
  list-style: none;
  display: inline;
  color: #f9e42e;
}

.nav {
  margin-top:35px;
}

nav a:hover {
  color:#033048;
  background-color:#f9e42e;
}

/* MAIN CONTENT & ASIDE */

main {
  width:100%;
  display:inline-block;
  color:#033048;
  padding:0px 0px 0px 40px;
  margin-top:30px;
}

.main {
  width:75%;
  margin:auto
}

.main-content {
  max-width:700px;
  width:80%;
}

h1 {
  font-size: 40px;
  font-weight:600;
}

.blog {
  color:#606161;
  font-size:24px;
  font-weight:300;
}

.firstcharacter {
  float: left;
  color: #606161;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.main-content article {
  border-bottom: solid 1px;
  border-bottom-color:#606161;
}

.blog-img {
  width:100%;
}

a {
  text-decoration:none;
  color:#033048;
  font-weight:600;
  font-size:24px;
}

/* ASIDE */

aside {
  max-width:240px;
  width: 25%;
  margin-left:20px;
}

h3 {
  margin-bottom:5px;
  font-size:32px;
  font-weight:800;
}

.about p {
  margin:10px 0px 0px 0px;
  font-size:22px;
  font-weight:300;
}

.learnmore a {
  font-weight:800;
  margin:0px;
  padding:opx;
}

.categories {
  list-style:none;
  padding:0px;
  margin:0px 0px 20px 0px;
  font-size: 24px;
  font-weight:300;
}

.ad-space {
  margin-top:40px;
  max-width: 240px;
}

/* YELLOW DIVIDER (SECTION) */

section {
  background-color: #f9e42e;
  max-height: 100px;
  min-height:100px;
  margin:0px;
  padding: 20px;
}

.button {
  border-radius: 5px;
  background-color: #033048;
  margin: 20px auto 20px auto;
  width: 25%;
  min-width:150px;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight:600;
  padding: 0px 10px;
}

/* FOOTER */

footer {
  background-color: #121212;
  text-align:center;
  max-height: 250px;
  margin:0px;
  color: white;
  padding:10px 0px 10px 0px;
  width:100%;
}

h2 {
  margin:0px auto 0px auto;
  color: #f9e42e;
  font-weight: 600;
  font-size: 24px;
}

.social {
  display:inline-block;
  list-style:none;
  padding:0px;
  margin:20px 10px 10px 10px;
  min-height:10px;
  
}